html{
    position:relative;
    min-height:100%;
    margin:0;
}

body{
    min-height:100%;
}

.footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    padding:15px 0;
    text-align:center;
}

.content{
    margin-left : 5%;
    margin-right : 5%;

    margin-top : 8%;
    margin-bottom: 8%;
}