<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">

<head>
    <link th:href="@{/css/boardContent.css}" rel="stylesheet">
    <script th:src="@{/js/boardContent.js}"></script>
</head>

<div layout:fragment="content">

    <main class="container-fluid mt-5" style="width:90%;">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center" th:object="${boardContentDTO}">
            <div class="col border rounded flex-column mb-4 h-md-250 position-relative">
                <div class="row">
                    <div class="col p-3 d-flex flex-column position-static">
                        <div class="d-flex justify-content-start align-items-center">
                            <a th:href="@{/member/{id}/memberPage (id=${boardContentDTO.board.writer.id})}">
                                <img th:src="|/images/${boardContentDTO.board.writer.profileImgPath}|" class = "rounded-circle" style="width: 2.5vw; height: 2.5vw;">
                            </a>
                            <h4 class = "ml-3" th:text="${boardContentDTO.board.writer.username}">username</h4>

                            <form th:action="@{/member/{id}/follow (id=${boardContentDTO.board.writer.id})}" method="post" target= "hiddenFrame" style="position: absolute; right:1.5rem;">
                                <span th:if="${boardContentDTO.followIsPresent == true}">
                                    <button class="btn btn-secondary followBtn" type="submit">unfollow</button>
                                </span>
                                <span th:unless="${!boardContentDTO.followIsPresent == false}">
                                    <button class="btn btn-primary followBtn" type="submit" >follow</button>
                                </span>
                            </form>

                            <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                        </div>

                        <div class="card mt-1" >
                            <div class="card-img-top">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li th:attr="data-target='#myCarousel', data-slide-to=${carIndStatus.index}" th:each="boardImg , carIndStatus: ${boardContentDTO.board.imgPath}" th:class="${carIndStatus.index}== 0  ? 'active':''"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div th:each="boardImg , carInnerStatus: ${boardContentDTO.board.imgPath}" th:class="${carInnerStatus.index}== 0  ? 'carousel-item active':'carousel-item'">
                                            <img th:src="|/images/${boardImg}|" class="d-block w-100 h-auto">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" th:href="'#myCarousel'" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" th:href="'#myCarousel'" role="button" data-slide="next">

                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mt-3">
                                    <div class="mb-1 text-muted" style="text-decoration: none; color:black;" th:text="${boardContentDTO.board.date}">DATE</div>
                                    <p class="card-text mb-auto" style="text-decoration: none; color:black;" th:text="${boardContentDTO.board.textData}">BODY TEXT</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col border rounded flex-column mb-4 shadow-sm h-md-250 position-relative">
                <!--<div class="row row-cols-1 mt-1" style="height: calc(100% - 40px);">-->
                <div class="row row-cols-1 mt-1">
                    <!--<div class="col" style="height: calc(100%  - 110px);  ">-->
                    <div class="col">


                        <h5 class="mb-2 p-2 border-bottom">comment</h5>

                        <div id="commentBox" class="overflow-auto" style="overflow-y: scroll;">
                            <div th:each="comment, status:${commentList}" >
                                <div class="border-bottom rounded mb-2 mw-100 h-100 d-flex align-items-center justify-content-start">

                                    <a class="align-items-center" th:href="@{/member/{id}/memberPage (id=${comment.member.id})}">
                                        <img th:src="|/images/${comment.member.dataInfo.saveDataPath}|" class = "rounded-circle" style="width: 1.8vw; height: 1.8vw;">
                                    </a>

                                    <h6 class="ml-2" th:text="${comment.member.username}">username</h6>

                                    <div class="ml-2 p-1" th:text="${comment.content}">text</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mt-2" style="height:100px;">
                        <div class="d-flex overflow-hidden justify-content-start align-items-center mb-1">
                            <img th:src="|/images/${authMember.profileImgPath}|" class = "rounded-circle" style="width: 1.5rem; height: 1.5rem;">
                            <h6 class = "ml-2" th:text="${authMember.username}">username</h6>
                        </div>
                        <form class="input-group" th:action="@{/board/comment}" th:object="${commentForm}" role="form" method="post" id = "commentForm">

                            <input type="hidden" name ="boardId" th:value="${boardContentDTO.board.boardId}">

                            <textarea type="text" th:field="*{content}" class="form-control" aria-label="With textarea"></textarea>

                            <button type="submit">입력</button>
                        </form>
                    </div>
                </div>

                <div class="row row-cols-2 mt-1" style="height: 30px;">
                    <div class="col-1">
                        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                        <form th:action="@{/board/like}" method="post" id = "likeForm" target="hiddenFrame" th:object="${likeForm}">

                            <input type="hidden" name = "memberId" th:value = "${authMember.id}">

                            <input type="hidden" name="boardId" th:value="${boardContentDTO.board.boardId}">

                            <span class="_heart liked"  th:if="${boardContentDTO.likeIsPresent == true}">
                                        <i class="fa fa-heart" aria-hidden="true" ></i>
                                    </span>
                            <span class="_heart" th:unless="${!boardContentDTO.likeIsPresent == false}">
                                        <i class="fa fa-heart-o" aria-hidden="true" ></i>
                                    </span>

                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}">

                        </form>
                    </div>
                    <a href="#" th:href="@{/board/{id}/likeList (id=${boardContentDTO.board.boardId})}">
                        좋아요 누른 사람 보기
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
</html>