<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">


<div layout:fragment="content">

<main class="container">
    <div class="row justify-content-center py-2" th:each="board , status: ${boardList}">
        <div class="col-8">
            <div class="row border rounded flex-column mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <div class="d-flex overflow-hidden justify-content-start align-items-center mb-3">

                        <a th:href="@{/member/{id}/memberPage (id=${board.memberId})}">
                            <img th:src="|/images/${board.profileImgPath}|" class="rounded-circle mr-3" style="width: 3rem; height: 3rem;">
                        </a>
                        <h4 class = "ml-2" th:text="${board.username}">username</h4>

                    </div>

                     <div class="card">
                        <div class="card-img-top">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" th:each="boardImg , status: ${board.imgPath}" th:attr="data-slide-to=${status.index}" th:class="${status.index}== 0  ? 'active':''"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div th:each="boardImg , status: ${board.imgPath}" th:class="${status.index}== 0  ? 'carousel-item active':'carousel-item'">
                                        <img th:src="|/images/${boardImg}|" class="d-block w-100 h-auto">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                         <div class="card-body">
                             <a style= "text-decoration:none;" th:href="@{/board/{id}/get (id=${board.boardId})}">
                                 <div class="mt-3">
                                     <div class="mb-1 text-muted" style="text-decoration: none; color:black;" th:text="${board.date}">DATE</div>
                                     <p class="card-text mb-auto" style="text-decoration: none; color:black;" th:text="${board.textData}">BODY TEXT</p>
                                 </div>
                             </a>
                         </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</div>
</html>