<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">


<th:block layout:fragment="css">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</th:block>



<!--
<div class="container fixed-top">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="text-center">
                <a class="blog-header-logo text-dark" href="#">SNS-Project</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-1">
        <nav class="nav d-flex justify-content-around">
            <a class="p-2 link-secondary" href="#">AAAA</a>
            <a class="p-2 link-secondary" href="#">BBBB</a>
            <a class="p-2 link-secondary" href="#">CCCC</a>
            <a class="p-2 link-secondary" href="#">DDDD</a>
        </nav>
    </div>
</div>
-->

<div layout:fragment="content">

    hello
<!--
<main class="container pt-5 mt-5">
    <div class="row justify-content-center py-5" th:each="board : ${boardList}">
        <div class="col-8">
            <div class="row border rounded flex-column mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <img src="img/tmp1.jpg" style="max-width: auto; height: 100%;">
                    <div class="mb-1 text-muted">DATE</div>
                    <p class="card-text mb-auto">BODY TEXT</p>
                </div>
            </div>
        </div>
    </div>
</main>
-->
</div>
</html>