<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">

<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            let followBtnList = document.querySelectorAll(".followBtn")

            followBtnList.forEach(followBtn =>{
                followBtn.addEventListener("click", () => {

                    if (followBtn.classList.contains("btn-primary")) {
                        followBtn.classList.remove("btn-primary");
                        followBtn.classList.add("btn-secondary");
                        followBtn.textContent = "unfollow";
                    } else {
                        followBtn.classList.remove("btn-secondary");
                        followBtn.classList.add("btn-primary");
                        followBtn.textContent = "follow";
                    }
                });
            });
        });
    </script>
</th:block>

<div layout:fragment="content">
    <div id="container" class="container container-fluid">

        <div class="m-2 mb-3 border-bottom">
            <h5 th:text="${titleText}" class="h6" style="font-size: 1.6vw;">titleText</h5>
        </div>

        <div class="row row-cols-1 p-2 mt-2" th:each="memberForm, status: ${memberList}">
            <div class="col d-flex align-items-center justify-content-start border-bottom rounded p-2 m-1 h-100">
                <a th:href="@{/member/{id}/memberPage (id=${memberForm.member.id})}">
                    <img th:src="|/images/${memberForm.member.dataInfo.saveDataPath}|" class = "rounded-circle" style="width: 2.5vw; height: 2.5vw;">
                </a>

                <h5 class = "ml-1" th:text="${memberForm.member.username}" style="font-size: 1.5vw;">username</h5>

                <iframe th:name="'hiddenFrame' + ${status.index}" width="0" height="0" border="0" style="display: none;"></iframe>

                <form th:action="@{/member/{id}/follow (id=${memberForm.member.id})}" class="mb-1" method="post" th:target= "'hiddenFrame' + ${status.index}" style="position: absolute; right:1.5rem;">
                    <span th:if="${memberForm.followIsPresent}">
                        <button class="btn btn-secondary followBtn" type="submit" >unfollow</button>
                    </span>
                    <span th:unless="${memberForm.followIsPresent}">
                        <button class="btn btn-primary followBtn" type="submit">follow</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

