<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">


<head>
    <link th:href="@{/css/memberPage.css}" rel="stylesheet">
    <script th:src="@{/js/memberPage.js}"></script>
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="row row-cols-1 p-1">

            <div class="col border p-1 mb-2 ">
                <div class="row">
                    <div class="col-12  mb-2 d-flex justify-content-center align-items-center">
                        <img th:src="|/images/${memberPageForm.dataInfo.saveDataPath}|" class = "rounded-circle" style="width: 2.5vw; height: 2.5vw;">
                        <h4 class="ml-2" th:text="${memberPageForm.username}">username</h4>
                    </div>

                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <a style="text-decoration: none; color:black;" th:href="@{/member/{id}/followeeList (id=${memberPageForm.id})}">팔로잉</a>
                            </div>
                            <div class="col text-center">
                                <a style="text-decoration: none; color:black;" th:href="@{/member/{id}/followerList (id=${memberPageForm.id})}">팔로워</a>
                            </div>
                            <div class="col text-center">
                                <form th:action="@{/member/{id}/follow (id=${memberPageForm.id})}" method="post" target= "hiddenFrame">
                                    <span th:if="${followIsPresent == true}">
                                        <button class="btn btn-secondary followBtn" type="submit">unfollow</button>
                                    </span>
                                    <span th:unless="${!followIsPresent == false}">
                                        <button class="btn btn-primary followBtn" type="submit" >follow</button>
                                    </span>
                                </form>
                                <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div th:each="board, status: ${boardList}">
                    <div class="justify-content-center">
                        <div class="row border rounded flex-column mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">

                                <div class="d-flex overflow-hidden justify-content-start align-items-center mb-3">
                                    <img th:src="|/images/${board.member.dataInfo.saveDataPath}|" class="rounded-circle" style="width: 3rem; height: 3rem;">
                                    <h4 class = "ml-2" th:text="${board.member.username}">username</h4>
                                </div>

                                <div th:if="${#lists.size(board.boardDataList) > 0}">
                                    <div class="container">
                                        <div th:id="'myCarousel' + ${status.index}" class="carousel slide">
                                            <!-- Indicators -->
                                            <!--
                                            <div class="carousel-indicators">
                                                <button type="button" class="item1 active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" class="item2" aria-label="Slide 2"></button>
                                                <button type="button" class="item3" aria-label="Slide 3"></button>
                                            </div>
                                            -->

                                            <div class="carousel-inner justify-content-center">

                                                <div th:attr="class=${status.index == 0 ? 'carousel-item active' : 'carousel-item'}" th:each="boardImage, status:${board.boardDataList}">
                                                    <img th:src="|/images/${boardImage.dataInfo.saveDataPath}|" class="mx-auto img-fluid" style="height:400px;">
                                                </div>

                                            </div>

                                            <button class="left carousel-control-prev bg-transparent border-0" type="button" href="#myCarousel"
                                                    th:onclick="|javascript:leftClick('${status.index}')|">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden"></span>
                                            </button>
                                            <button class="right carousel-control-next bg-transparent border-0" type="button" href="#myCarousel"
                                                    th:onclick="|javascript:rightClick('${status.index}')|">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <a style= "text-decoration:none;" th:href="@{/board/{id}/get (id=${board.boardId})}">
                                        <div class="mt-3">
                                            <div class="mb-1 text-muted" style="text-decoration: none; color:black;" th:text="${board.date}">DATE</div>
                                            <p class="card-text mb-auto" style="text-decoration: none; color:black;" th:text="${board.textData}">BODY TEXT</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>