<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">


<head>
    <!--<link th:href="@{/css/memberPage.css}" rel="stylesheet">-->
    <link th:href="@{/css/boardImage.css}" rel="stylesheet">
    <script th:src="@{/js/memberPage.js}"></script>
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center row-cols-1 p-1">

            <div class="col-lg-8 col-12 border p-1 mb-2 ">
                <div class="row row-cols-1">
                    <div class="col mb-2 d-flex justify-content-center align-items-center">
                        <img th:src="|/images/${memberPageForm.dataInfo.saveDataPath}|" class = "rounded-circle" style="width: 3rem; height: 3rem;">
                        <h3 class="ml-2" th:text="${memberPageForm.username}">username</h3>
                    </div>

                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <a style="text-decoration: none; color:black;" th:href="@{/member/{id}/followeeList (id=${memberPageForm.id})}">팔로잉</a>
                            </div>
                            <div class="col text-center">
                                <a style="text-decoration: none; color:black;" th:href="@{/member/{id}/followerList (id=${memberPageForm.id})}">팔로워</a>
                            </div>
                            <div class="col text-center">
                                <form th:action="@{/member/{id}/follow (id=${memberPageForm.id})}" method="post" target= "hiddenFrame">
                                    <span th:if="${followIsPresent == true}">
                                        <button class="btn btn-secondary followBtn" type="submit">unfollow</button>
                                    </span>
                                    <span th:unless="${!followIsPresent == false}">
                                        <button class="btn btn-primary followBtn" type="submit" >follow</button>
                                    </span>
                                </form>
                                <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-12">
                <div th:each="boardDTO, boardStatus: ${boardDTOList}">
                    <div class="justify-content-center">
                        <div class="row border rounded flex-column mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">

                                <div class="d-flex overflow-hidden justify-content-start align-items-center mb-3">
                                    <img th:src="|/images/${boardDTO.writer.profileImgPath}|" class="rounded-circle" style="width: 3rem; height: 3rem;">
                                    <h4 class = "ml-2" th:text="${boardDTO.writer.username}">username</h4>
                                </div>

                                <div class="card mt-1" >
                                    <div class="card-img-top">
                                        <div th:id="'myCarousel' + ${boardStatus.index}" class="carousel slide" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li th:attr="data-target='#myCarousel' + ${boardStatus.index}, data-slide-to=${carIndStatus.index}" th:each="boardImg , carIndStatus: ${boardDTO.imgPath}" th:class="${carIndStatus.index}== 0  ? 'active':''"></li>
                                            </ol>

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner">
                                                <div th:each="boardImg , carInnerStatus: ${boardDTO.imgPath}" th:class="${carInnerStatus.index}== 0  ? 'carousel-item active':'carousel-item'">
                                                    <img th:src="|/images/${boardImg}|" class="boardImage">
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" th:href="'#myCarousel' + ${boardStatus.index}" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" th:href="'#myCarousel' + ${boardStatus.index}" role="button" data-slide="next">

                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a style= "text-decoration:none;" th:href="@{/board/{id}/get (id=${boardDTO.boardId})}">
                                            <div class="mt-3">
                                                <div class="mb-1 text-muted" style="text-decoration: none; color:black;">작성일시 : <span th:text="${boardDTO.date}">DATE</span></div>
                                                <p class="card-text mb-auto" style="text-decoration: none; color:black;" th:text="${boardDTO.textData}">BODY TEXT</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>