<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form action="/signup" method="post">
        <div class="form-group">
            <label for="username">이름</label>
            <input type="text" id="username" name="username" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="text" id="password" name="password" placeholder="비밀번호을 입력하세요">
        </div>
        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>